<!-- ローディング -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<div id="is-loading"><div id="loading"><img th:src="@{/img/ojiji/ojiji_search.png}" alt="loading..." /></div></div>
<header>
    <!-- ヘッダー画像 -->
    <a href="/oyfy"><img src="/oyfy/img/header.png" class="header" /></a>
    <!-- 検索ボックス -->
    <form th:action="@{/keyword}" th:object="${TopForm}" method="post" enctype="multipart/form-data">
        <input type="text" name="keyword" class="headSearch loading_inp" placeholder="銭湯　おじじ　検索" onEnter="document.form.submit()" autocomplete="off" maxlength="60">
        <button type="submit" class="sbtn loading"><i class="fas fa-search"></i></button>
    </form>
</header>
