<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Oh!湯 for you</title>
<meta name="description" content="common-meta">
<link rel="stylesheet" media="all" th:href="@{/css/layout/layout.css}" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:replace="~{common/header::header}"></div>
    <div layout:fragment="contents" th:remove="tag"></div>
    <div layout:replace="~{footer::footer}"></div>
</body>
</html>