@charset "UTF-8";

/* 背景 */
body {
 height: 100vh;
 background-color: #F9D7AF;
 height: 260px;
 background-image: linear-gradient(#eee 1px, transparent 0),
                   linear-gradient(90deg, #eee 1px, transparent 0);
 background-size: 40px 40px;

}
/* ロゴ */
.outer {
 width: 100%;
 background-color: #fff;
 padding: 20px 0;
 border-bottom: solid 5px #555;
}
/* レンガ */
.renga {
 position: relative;
 width: 100%;
 background-color: #555;
 background-image: linear-gradient(335deg, #fff 23px, transparent 23px),
 linear-gradient(155deg, #eee 23px, transparent 23px),
 linear-gradient(335deg, #fff 23px, transparent 23px),
 linear-gradient(155deg, #eee 23px, transparent 23px);
 background-size: 58px 58px;
 background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
/* コンテナ */
.container {
 position: relative;
 width: 100%;
 top: -100px;
}
.logo {
 max-width: 780px;
 margin: 0 auto;
}
.logo img {
 width: 100%;
 border: solid 5px #bbb;
}
/* メニュー */
.menu {
 position: relative;
 text-align: center;
 top: -100px;
}
.menu ul {
 text-align: center;
 margin: 0;
 padding: 0;
}
.menu ul li {
 display: inline;
}
/* メニュー画像 */
.menu ul li a img {
 width: 25%;
 max-width: 200px;
 transition: 1s ;
 transform: rotateY(0deg);
}
.menu ul li a img:hover {
 transform: rotateY(360deg);
}
/* 浴槽画像 */
.yokuso {
 width: 100%;
 top: -105px;
 min-height: 200px;
 position: relative;
 background-size: contain;
 background-image: url('/oyfy/img/top/top_bath.png');
 background-repeat: repeat-x;
 position: relative;
 overflow: hidden;
}
.yokuso div {
 margin: 0 auto;
 position: absolute;
}
.yokuso div.ojiji {
 z-index: 999;
 bottom: 50px;
 left: 50%;
}
.yokuso div.oke {
 bottom: 70px;
 left: 10%;
}
.yokuso div.ahiru {
 bottom: 120px;
 left: 80%;
}
.yokuso div.ojiji img {
 width: 130px;
 animation: ojiji 3s ease-in-out infinite;
}
.yokuso div.oke img {
 width: 100px;
 animation: yoko 3s ease-in-out infinite;
}
.yokuso div.ahiru img {
 width: 50px;
 animation: tate 3s ease-in-out infinite;
}
@keyframes ojiji {
 0% { transform: rotate(0deg); }
 25% { transform: rotate(3deg); }
 50% { transform: rotate(0deg); }
 75% { transform: rotate(-3deg); }
 100% { transform: rotate(0deg); }
}
@keyframes tate {
 0% {transform: scale(1) translate(0, 0);}
 50% {transform: scale(1) translate(0, 10px);}
 100% {transform: scale(1) translate(0, 0);}
}
@keyframes yoko {
 0% {transform: scale(1) translate(0, 0);}
 50% {transform: scale(1) translate(10px, 0);}
 100% {transform: scale(1) translate(0, 0);}
}

/* 湯気 */
.steam {
 position: absolute;
 z-index: 2;
 width: 100%;
 top: 200px;
 left: 0px;
 animation: steam_up 20s infinite linear;
 transition: all 1s;
}
.steam img {
 width: 100%;
}
.steam2 {
 z-index: 3;
 position: absolute;
 width: 100%;
 top: 200px;
 left: 50px;
 animation: steam_up 22s 10s infinite linear;
 transition: all 1s;
}
.steam2 img {
 width: 100%;
}
@keyframes steam_up {
 0% {
  filter: blur(10px);
  transform: rotateY(0deg);
  transform: scale(1, 1);
  opacity: 0.2;
 }
 13% {
  opacity: 0.2;
 }
 33% {
  opacity: 0.4;
  transform: rotateY(40deg);
  transform: scale(0.6, 1.2);
 }
 66% {
  transform: rotateY(2deg);
  transform: scaleY(1.2, 0.4);
 }
 100% {
  filter: blur(16px);
  transform: rotateY(50deg);
  transform: scaleY(1.4, 1.2);
  opacity: 0;
  top: -200px;
 }
}

/* キーワード検索 */
.search {
 position: relative;
 text-align: center;
}
.headSearch {
 width: 80%;
 opacity: 0.9;
}
#keywordSearch {
 text-align: center;
}
#keywordSearch a {
 display: inline-block;
 padding: 0.5em 1em;
 text-decoration: none;
 background: #668ad8;
 color: #FFF;
 border-bottom: solid 4px #627295;
 border-radius: 3px;
}
#keywordSearch a:active {
 -webkit-transform: translateY(4px);
 transform: translateY(4px);
 box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
 border-bottom: none;
}

/* 現時点検索ボタン */
#cuurentLocationSearch {
 text-align: right;
 margin: 20px 20px 0 0;
}
.kerorin {
 width: 100px;
 cursor: pointer;
}
.kerorin:hover {
 opacity: 0.5;
}
/* スマートフォン向けレイアウト */
@media screen and (max-width:767px) {
 .menu {
  top: -70px;
 }
 .outer {
  padding: 0;
  border-bottom: none;
 }
 .logo img {
 padding: 0;
 border: none;
 }
 .container {
  top: -50px;
 }
 .yokuso {
  width: 100%;
  top: -80px;
 }
 .yokuso .ojiji img {
  width: 100px;
 }
 .yokuso .ahiru img {
  width: 100px;
 }
 .yokuso .oke img {
  width: 100px;
 }
 .serach {
  top: -14vw;
 }
}
