 @charset "UTF-8";
body {
 height: 100vh;
 background-image: url('/img/bk.png');
 background-repeat: no-repeat;
 background-size: 100%;
}

 @media screen and (max-width:576px) {

 body {
  height: 100vh;
  background-image: url('/img/bg_top.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position : center center;
 }
 #searchTypeRow {
  bottom: 37%;
 }
 .searchTypeImg {
  width: 90px;
 }
}

 /* @media screen and (max-width:576px) and (max-height:812px) and (min-height:740px) {
 body {
   height: 100vh;
   background-image: url('/img/bg_top.png');
   background-repeat: no-repeat;
   background-size: 100vh;
  }
  #searchTypeRow {
   bottom: 44%;
  }
 }
  */
.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
