@charset "UTF-8";

/* 背景 */
body {
 background-color: #2C90FF;
 height: 100vh;
}
/* ロゴ */
.outer {
 width: 100%;
 background-color: #fff;
 padding: 20px 0;
 border-bottom: solid 5px #bbb;
}
/* コンテナ */
.container {
 top: -150px;
 position: relative;
}
.logo {
 max-width: 780px;
 margin: 0 auto;
}
.logo img {
 width: 100%;
 border: solid 5px #bbb;
}
/* メニュー */
.menu {
 position: relative;
 text-align: center;
}
.menu ul {
 text-align: center;
 margin: 0;
 padding: 0;
}
.menu ul li {
 display: inline;
}
/* メニュー画像 */
.menu ul li a img {
 width: 25%;
 transition: 1s ;
 transform: rotateY(0deg);
}
.menu ul li a img:hover {
 transform: rotateY(360deg);
}
/* キーワード検索 */
.serach {
 position: relative;
 text-align: center;
 top: -10vw;
}
.kerorin {
 width: 50px;
 cursor: pointer;
}
.kerorin:hover {
 opacity: 0.5;
}
.headSearch {
 width: 80%;
 opacity: 0.9;
}
/* おじじ画像 */
.ojijiImg {
 width: 100%;
}
/* 現時点検索ボタン */
#cuurentLocationSearch {
 text-align: center;
}
#cuurentLocationSearch a {
 display: inline-block;
 padding: 0.5em 2em;
 text-decoration: none;
 background: #668ad8;
 color: #FFF;
 border-bottom: solid 4px #627295;
 border-radius: 3px;
}
#cuurentLocationSearch a:active {
 -webkit-transform: translateY(4px);
 transform: translateY(4px);
 box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
 border-bottom: none;
}

/* スマートフォン向けレイアウト */
@media screen and (max-width:767px) {
 .outer {
  padding: 0;
  border-bottom: none;
 }
 /* ロゴ */
 .logo img {
 padding: 0;
 border: none;
 }
 /* コンテナ */
 .container {
  top: -50px    ;
  width: 100%;
 }
}
