@charset "UTF-8";



.jumbotron {
  background-image: url("/img/top.png");
  background-size: cover;
  background-position: center 10%;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
#nav-content > ul > li {
 display: inline-block;
}

#indexType > ul > li {
 display: inline-block;
 padding: 5px 5px;
}

#indexType > ul > li {

}

.category-title {
 margin-right: 20px;
}

.ridius {
 -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}



.list-sento__body {
 position: relative;
 height: 180px;
 padding: 0 10px 0 182px;
}

.list-sento__photo {
 position: absolute;
 top: 10px;
 left: 10px;
 width: 160px;
}

.list-sento__photo > ul {
    display: table;
    table-layout: fixed;

}

.list-sento__photo > ul > li {
     width: 100%;
     display: table-cell;
}

.list-sento__photo > ul > li > img {
  width: 28px;
}

.bath {
 margin-top: 10px;
}
.list-unstyled li:first-child {
  border-top: 1px solid #aaa;
}


.bath--list {
 border-bottom : 1px solid #aaa;
}