@charset "UTF-8";

body p{
 margin: 0 0;
}

.nav-a{
   color: black;
}
.nav-a:visited{
   color: black;
}
.nav-a:hover {
 text-decoration: none;
}

ul {
 padding: 0 0;
}

ul {
 list-style: none;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
#nav-content > ul > li {
 display: inline-block;
}

#indexType > ul > li {
 display: inline-block;
 padding: 5px 5px;
}

#indexType > ul > li {

}

.category-title {
 margin-right: 20px;
}

.ridius {
 -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}



.list-sento__body {
 position: relative;
 height: 180px;
 padding: 0 10px 0 182px;
}

.list-sento__photo {
 position: absolute;
 top: 10px;
 left: 10px;
 width: 160px;
}

.list-sento__photo > ul {
    display: table;
    table-layout: fixed;

}

.list-sento__photo > ul > li {
     width: 100%;
     display: table-cell;
}

.list-sento__photo > ul > li > img {
  width: 28px;
}

.bath {
 margin-top: 10px;
}
.list-unstyled li:first-child {
  border-top: 1px solid #aaa;
}
.bath-header {
  position: relative;
  left: 26%;
}
.bath_info > img {
 width: 20px;
}
.bath-content {
   display: -webkit-flex;
   display: flex;
}

.bath_img {
  position: relative;
  width: 20.2381%;
  margin: 0 40px 0 0;
  top:-50px;
}
.bath_img > img {
 width: 150px;
 height: 120px;
}
.bath_detail {
    width: 76.19048%;
    position: relative;
 }


 .parent {
   display: -webkit-flex;
   display: flex;
}