<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/css/test/test.css}" />
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
    <div layout:fragment="contents">
        <header style="width: 100%; background-color: #ffef11">
            <nav id="menu" style="padding-top: 10px;">
                <!--中身-->
                <div id="nav-content">
                    <ul class="category">
                        <li class="category-title" style="margin-left: 10px;"><a>Oh!湯ForYouとは</a></li>
                        <li class="category-title"><a>TOP</a></li>
                        <li class="category-title"><a>テスト2</a></li>
                        <li class="category-title"><a>テスト3</a></li>
                    </ul>
                </div>
            </nav>
            <p style="width: 960px; margin: 0 auto; text-align: center; padding-bottom: 20px;">
                <img src="/img/top.png"/>
            </p>

       <form method="get" th:object="${testForm}" style="width: 960px; margin: 0 auto; text-align: center; padding-bottom: 20px;">
                <div id="indexType">
                     <ul>
                        <li><a class="btn btn-danger"  data-toggle="modal" data-target="#modal1">キーワード</a></li>
                        <li><a class="btn btn-warning">エリア</a></li>
                        <li><a class="btn btn-primary">イラスト</a></li>
                    </ul>
                </div>
                <div class="group">
                    <input type="text"  th:field="*{keyword}" class="ridius"  placeholder="キーワード検索"/>
                    <button type="submit" class="btn btn-primary btn-sm " style="margin-bottom: 6px;">検索</button>
                </div>
            </form>
        </header>
        <div class="container-fluid" style="width: 960px;">

            <div style="width: 100%;">
                <div class="" style="width: 70%; margin: 0 auto;">
                    <ul class="list-unstyled">
                        <th:block th:each="bath:${baths}">
                            <!-- 銭湯単位 -->
                            <li class="bath" style="border-bottom: 1px solid #aaa; height: 150px;">
                                <!-- ヘッダー -->
                                <div class="bath-header">
                                    <h3 style="margin-bottom: 0;">
                                        <span th:text="${bath.bathNameJa}">銭湯の名前</span>
                                    </h3>
                                    <span th:text="${bath.bathNameEn}">銭湯の名前</span>
                                </div>

                                <div class="bath-content">
                                    <p class="bath_img">
                                        <img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-3">
                                    </p>

                                    <div class="bath_detail">
                                        <p class="bath_info">
                                          <img src="/img/fee.png" />
                                          <span th:text="${bath.bathFee}">460円</span>円
                                        </p>
                                        <p class="bath_info">
                                          <img src="/img/time.png" />
                                          <span th:text="${bath.bathTimeSt}">12時</span>～<span th:text="${bath.bathTimeEd}">23時</span>
                                        </p>
                                        <p class="bath_info">
                                          <img src="/img/address.png" />
                                          <span th:text="${bath.bathAddressJa}">台東区寿</span>
                                        </p>
                                    </div>
                                </div>

                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
  
        </div>

        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="label1">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">Modal body</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <footer style="width: 100%;">
            <p style="width: 960px; margin: 0 auto; text-align: center;">一応フッターも</p>
        </footer>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>