<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/css/test.css}" />
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}" />

</head>
<body>
    <div>
        <header style="wi dth: 100%; background-color: #ffef11">
            <nav id="menu" style="padding-top: 10px;">
                <!--中身-->
                <div id="nav-content">
                    <ul class="category">
                        <li class="category-title" style="margin-left: 10px;"><a>Oh!湯ForYouとは</a></li>
                        <li class="category-title"><a>テスト1</a></li>
                        <li class="category-title"><a>テスト2</a></li>
                        <li class="category-title"><a>テスト3</a></li>
                    </ul>
                </div>
            </nav>
            <p style="width: 960px; margin: 0 auto; text-align: center; padding-bottom: 20px;">
                <img src="/img/top.png"/>
            </p>
            <form action="/" style="width: 960px; margin: 0 auto; text-align: center; padding-bottom: 20px;">
                <div id="indexType">
                     <ul>
                        <li><a class="btn btn-danger"  data-toggle="modal" data-target="#modal1">キーワード</a></li>
                        <li><a class="btn btn-warning">エリア</a></li>
                        <li><a class="btn btn-primary">イラスト</a></li>
                    </ul>
                </div>
                <div class="group">
                    <input type="text" class="ridius"  placeholder="キーワード検索"/>
                    <button type="submit" class="btn btn-primary btn-sm " style="margin-bottom: 6px;">検索</button>
                </div>
            </form>
        </header>

        <div class="container">
            <div class="row">
                <!-- タブレットサイズ以上で、左に 1 カラム分の余白ができる -->
                <div class="col-md-6 offset-md-3" style="background-color: #CCCCCC;">
                    <div class="list-sento__body">
                        <div class="list-sento__data">
                            <h4>寿湯</h4>
                            <span>東京都台東区東上野5-4-17</span>
                        </div>
                        <div class="list-sento__photo">
                        <p>
                        <img src="/img/hisamatsuyu.jpg" alt="64x64" style="width: 160px;" >
                        </p>
                        <ul>
                            <li><img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1"  ></li>
                            <li><img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1" ></li>
                            <li><img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1" ></li>
                            <li><img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1" ></li>
                            <li><img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1" ></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="label1">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">Modal body</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <footer style="width: 100%;">
            <p style="width: 960px; margin: 0 auto; text-align: center;">一応フッターも</p>
        </footer>
    </div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>