@charset "UTF-8";

/* 背景 */
.illustBg {
 background-color: #f5f5f5;
 border-radius: 10px;
 text-align: center;
 padding: 20px;
}
/* 料金 */
section.fee {
 display: block;
 width: 100%;
 position: relative;
 margin: 20px 0;
}
.bag {
 display: inline-grid;
 width: 15%;
}
.bag img {
 width: 100px;
}
.bar {
 display: inline-block;
 width: 60%;
 vertical-align: text-bottom;
 margin-bottom: 20px;
 height: 30px;
}
.bar p {
 display: inline-block;
}
/* スライダー */
#slider .ui-slider-handle {
 border-radius: 50%;
}
#slider {
 width: 100%;
}
#min, #max {
 width: 100%;
 text-align: center;
}
.ui-slider-horizontal {
 height: .4em;
}
.ui-slider-horizontal .ui-slider-handle {
 top: -.5em;
}
#outline {
  margin-top: 20px;
}

/* アイコン一覧 */
section.illust {
 text-align: center;
}
.illust-div {
 position: relative;
 width: 150px;
 height: 150px;
 display: inline-block;
}
.illust-div img {
 width: 150px;
 position: absolute;
 left: 0;
}
.tagname {
 display: none;
}
/* タグリスト */
ul.tags {
 margin: 0;
 padding: 0;
 list-style: none;
 display: inline-block;
}
/* タグリスト項目 */
ul.tags li {
 display: inline-block;
 margin: 0 5px 5px 0;
 padding: 0;
}
ul.tags li a {
 display: inline-block;
 height: 28px;
 line-height: 28px;
 padding: 0 5px;
 background-color: #fff;
 border: 1px solid #aaa;
 border-radius: 3px;
 white-space: nowrap;
 text-overflow: ellipsis;
 color: #333;
 font-size: 11px;
 text-decoration: none;
 -webkit-transition: .2s;
 transition: .2s;
 margin: 5px;
}
/* タグのマウスオーバー時動作 */
ul.tags li a.tag:hover {
 background-color: #3498db;
 border: 1px solid #3498db;
 color: #fff;
}
/* 検索条件 */
div.searchCond {
 margin: 0 auto;
 padding: 1em 1.5em;
 width: 95%;
 color: #777777;
 background-color: #fff;
 border: 4px solid #B09A69;
 border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}
/* 検索条件タイトル */
div.searchCond label.title {
 display: block;
 color: #B09A69;
}

.checked {
 position: absolute;
 right: 4px;
 left: 46px;
 z-index: -1;
 opacity: 0.3;
}
/* 検索ボタン*/
#keywordSearch {
 text-align: center;
}
#keywordSearch a {
 display: inline-block;
 padding: 0.5em 1em;
 text-decoration: none;
 background: #668ad8;
 color: #FFF;
 border-bottom: solid 4px #627295;
 border-radius: 3px;
 margin: 10px;
}

/* スマートフォン向けレイアウト */
@media screen and (max-width:767px) {
 .bag img {
  width: 50px;
 }
 .bar {
  margin-bottom: 12px;
 }
 .illustBg {
  padding: 3px;
 }
 .illust-div {
  width: 100px;
  height: 100px;
 }
 .illust-div img {
  width: 100px;
 }
}