<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Oh湯!forYou!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/illust/illust.css}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" media="all" th:href="@{/css/tag.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/pager.css}" />
    <script src="https://kit.fontawesome.com/a293a46691.js"></script>
    <!-- ファビコン -->
    <link rel="icon" href="/oyfy/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/oyfy/img/apple-touch-icon.png">
    <meta name="application-name" content="{サイト名}"/>
    <meta name="msapplication-square70x70logo" content="/oyfy/img/favicon.png"/>
    <meta name="msapplication-square150x150logo" content="/oyfy/img/favicon.png"/>
    <meta name="msapplication-wide310x150logo" content="/oyfy/img/favicon.png"/>
    <meta name="msapplication-square310x310logo" content="/oyfy/img/favicon.png"/>
    <meta name="msapplication-TileColor" content="#FAA500"/>
</head>
<body>
    <!-- 共通ヘッダー -->
    <div th:replace="common/header"></div>
    <div class="container">
	    <div class="illustBg">
	        <!-- 料金 -->
	        <section class="fee">
	            <div class="bag"><img th:src="@{/img/illust/illust_price_cheep.png}" /></div>
	            <div class="bar"><p id="slider"></p><p id="min"></p><p id="max"></p></div>
	            <div class="bag"><img th:src="@{/img/illust/illust_price.png}" /></div>
	        </section>
	        <!-- イラスト選択 -->
	        <section class="illust">
	            <div th:object="${illustSearchForm}" class="illust-box">
	                <div class="illust-div" th:id="'id_' + ${itemStat.count}" th:each="img, itemStat : *{illustItemList}" th:if="${not #lists.isEmpty(img.illustTag)}" onclick="chooseTag(this);">
	                    <input class="tagname" th:value="*{illustItemList[__${itemStat.index}__].tagNameJa}" />
	                    <img class="rounded-circle illust-img" th:src="*{illustItemList[__${itemStat.index}__].illustTag}" />
	                    <img class="rounded-circle checked illust-img" th:id="'checked_' + ${itemStat.count}" src="/oyfy/img/illust/illust_check.png" />
	                </div>
	             </div>
	        </section>

	        <!-- 温度選択 -->
	        <section class="illust">
	            <div th:object="${illustSearchForm}" class="illust-box">
	                <div class="illust-div" th:id="'id_' + ${itemStat.count}" th:each="img, itemStat : *{illustItemList}" th:if="${not #lists.isEmpty(img.temperatureTag)}" onclick="chooseTag(this);">
	                    <input class="tagname" type="hidden" th:value="*{illustItemList[__${itemStat.index}__].tagNameJa}" />
	                    <img class="rounded-circle mt-md-2 illust-img" th:src="*{illustItemList[__${itemStat.index}__].temperatureTag}" />
	                    <img class="rounded-circle mt-md-2 checked illust-img" th:id="'checked_' + ${itemStat.count}" src="/oyfy/img/illust/illust_check.png"/>
	                </div>
	            </div>
	        </section>
	        <!-- タグ選択 -->
	        <section class="illust">
	            <div th:object="${illustSearchForm}" class="illust-box">
	                <div class="illust-div" th:id="'id_' + ${itemStat.count}" th:each="img, itemStat : *{illustItemList}" th:if="${not #lists.isEmpty(img.ojijiTag)}" onclick="chooseTag(this);">
	                    <input class="tagname" type="hidden" th:value="*{illustItemList[__${itemStat.index}__].tagNameJa}" />
	                    <img class="rounded-circle mt-md-2 illust-img" th:src="*{illustItemList[__${itemStat.index}__].ojijiTag}" />
	                    <img class="rounded-circle mt-md-2 checked illust-img" th:id="'checked_' + ${itemStat.count}" src="/oyfy/img/illust/illust_check.png" />
	                </div>
	            </div>
	        </section>

	        <!-- 検索条件 -->
	        <div class="searchCond col-md-8 offset-md-2 offset-1" style="width: 85%">          <label class="title">検索条件</label>
	        <ul class="tags"></ul></div>
	        <form id="form" class="form-inline" action="#" th:action="@{/illust}" th:object="${illustSearchForm}" method="post">
	            <input type="hidden" id="fee_low" name="fee_low" />
	            <input type="hidden" id="fee_high" name="fee_high" />
	        </form>
	        <!-- 検索ボタン -->
	        <div id="keywordSearch" class="search"><a href="#keywordSearch" class="loading" onclick="addName()">検索</a></div>
	    </div>
    </div>
    <!-- 共通フッター -->
    <div th:replace="common/footer"></div>
    <script src="https://code.jquery.com/jquery-1.6.2.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script type="text/javascript" th:src="@{/js/illust/illust.js}"></script>
</body>
</html>