<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/illust/illust.css}" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style type="text/css">
/* css つまみサイズ調整 */
 #fee-slider .ui-slider-handle {
 border-radius: 50%;
}
#slider
{
    width: 100%;
}

#min, #max {
    width: 100%;
    text-align: center;
}

</style>
</head>
<body>
    <div class="container-fluid " style="margin-top: 50px;" layout:fragment="contents">
        <!-- 料金 -->
        <div class="row">
            <div class="col-md-1 offset-md-4 col-3" >
                <img class="fee-img" th:src="@{/img/illust/Illust_feeLower.png}"></img>
            </div>
             <div class="col-md-2 col-6" style="padding-top: 3%;">
                <div id="slider"></div>
                <div id="min"></div>
                <div id="max"></div>
            </div>
            <div class="col-md-1 col-3">
                <img class="fee-img" th:src="@{/img/illust/Illust_feeHeigher.png}"></img>
            </div>
        </div>
        <!-- イラスト選択 -->
        <!-- ここで編集 -->
        <div class="row">
            <div class="col-md-4 offset-md-4 col-12">
                <div th:object="${illustSearchForm}" class="ml-md-3 illust-box">
                    <div class="d-inline mr-md-2 illust-img-box" th:id="'id_' + ${itemStat.count}" th:each="img, itemStat : *{illustItemList}" th:if="${not #lists.isEmpty(img.illustTag)}" onclick="chooseTag(this);">
                        <input type="hidden" th:value="*{illustItemList[__${itemStat.index}__].tagNameJa}" style="display: none;" />
                        <div class="d-inline illust-img-box" style="position: relative;" >
                            <img class="rounded-circle mt-md-2 illust-img" th:src="*{illustItemList[__${itemStat.index}__].illustTag}" />
                            <img class="rounded-circle mt-md-2 checked illust-img" th:id="'checked_' + ${itemStat.count}" src="/img/selected.png" />
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <!-- 温度選択 -->
        <div class="row">
            <div class="col-md-4 offset-md-4 col-12" >
                <div th:object="${illustSearchForm}" class="ml-md-3  illust-box">
                    <div class="d-inline mr-md-2 illust-img-box" th:id="'id_' + ${itemStat.count}" th:each="img, itemStat : *{illustItemList}" th:if="${not #lists.isEmpty(img.temperatureTag)}" onclick="chooseTag(this);">
                        <input type="hidden" th:value="*{illustItemList[__${itemStat.index}__].tagNameJa}" style="display: none;" />
                        <div class="d-inline " style="position: relative;" >
                            <img class="rounded-circle mt-md-2 illust-img" th:src="*{illustItemList[__${itemStat.index}__].temperatureTag}" />
                            <img class="rounded-circle mt-md-2 checked illust-img" th:id="'checked_' + ${itemStat.count}" src="/img/selected.png" />
                        </div>
                        <!-- レイアウトを整えるダミー用 -->
                        <div class="d-inline"></div>
                    </div>
                 </div>
            </div>
        </div>
        <!-- タグ選択 -->
        <div class="row mt-md-2">
            <div class="col-md-4 offset-md-4 col-12 illust-box">
                <div th:object="${illustSearchForm}" class="ml-md-3">
                    <div class="d-inline  mr-md-2 illust-img-box" th:id="'id_' + ${itemStat.count}" th:each="img, itemStat : *{illustItemList}" th:if="${not #lists.isEmpty(img.ojijiTag)}" onclick="chooseTag(this);">
                        <input type="hidden" th:value="*{illustItemList[__${itemStat.index}__].tagNameJa}" style="display: none;" />
                        <p class="d-inline" style="position: relative;" >
                            <img class="rounded-circle mt-md-2 illust-img" th:src="*{illustItemList[__${itemStat.index}__].ojijiTag}"/>
                            <img class="rounded-circle mt-md-2 checked illust-img" th:id="'checked_' + ${itemStat.count}" src="/img/selected.png" />
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 検索条件 -->
        <div class="row mt-4">
            <div class="offset-md-4 col-md-4 text-center">
                <div class="btn-square-little-rich" onclick="addName();" style="width: 100%">検索</div>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="searchCond offset-md-4 col-md-4 offset-1" style="width: 85%">
                <ul class="tags">
                </ul>
            </div>
            <div>
                <form id="form" class="form-inline" action="#" th:action="@{/illust}" th:object="${illustSearchForm}" method="post">
                    <input type="hidden" id="fee_low" name="fee_low" />
                    <input type="hidden" id="fee_high" name="fee_high" />
                </form>
            </div>

        </div>


        <script src="https://code.jquery.com/jquery-1.6.2.js" ></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
        <script type="text/javascript" th:src="@{/js/illust/illust.js}"></script>
    </div>
</html>