<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Oh湯!forYou!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/area/prefecture.css}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/top/top.js}"></script>
</head>
<body>
    <!-- 共通ヘッダー -->
    <div th:replace="common/header"></div>
    <div  class="container">
        <form id="form" class="form-inline" action="#" th:action="@{/area/prefectureSearch}" th:object="${prefectureSearchForm}" method="post">
        <div class="row">
            <div>
                <div class="search-prefecture" id="selected-prefecture" th:text="'選択中の県名：' + ${prefectureForm.areaName}">
                </div>
                <table class="table table-bordered">
                    <tr>
                        <td class="prefecture-name" align="center">
                            <span id="btn-inner" >▼</span>
                            <div class="prefecture-name-text" th:text="${prefectureForm.areaName}">
                            </div>
                        </td>
                    </tr>
                    <tr id=area-name-list>
                        <td>
                            <div>
                            <input type="checkbox" id="all"> 全選択
                            </div>
                            <div id="area-name" th:each="prefecture : ${prefectureForm.prefectureList}">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="prefectureNames" th:text="${prefecture.name}" th:value="${prefecture.name}">
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="button-area" class="row col-md-12 justify-content-center">
            <input type="button" class="btn btn-primary btn-lg" onclick="searchPrefecture();" value=地域名検索>
        </div>
      </form>
    </div>
<!-- 共通フッター -->
<div th:replace="common/footer"></div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
<script type="text/javascript" th:src="@{/js/area/prefecture.js}"></script>
</html>