@charset "UTF-8";

body {
 min-height: 100vh;
 position: relative;
}
/* ヘッダー */
header {
 max-width: 780px;
 text-align: center;
 margin: 0 auto;
}
/* ヘッダー画像 */
header img.header {
 width: 100%;
 z-index: 1;
 position: relative;
}
header form {
 position: relative;
 height: 50px;
 top: -16px;
}
.errorText {
 vertical-align: middle;
 display: inline-block;
}
.errorImg {
	width: 5vw;
}
/* ヘッダー検索ボックス */
.headSearch {
 font-family: cursive;
 border: 1px solid #acacac;
 color: #fff;
 padding: 0 20px;
 opacity: 0.7;
 border-radius: 10px;
 height: 50px;
 text-align: left;
 position: relative;
 width: 90%;
 transition: all .3s;
 -webkit-transition: all .3s;
 -moz-transition: all .3s;
 font-size: 16px;
 outline: none;
 background-color: #acacac;
}
/* ヘッダー検索ボックスプレースホルダー */
*::-webkit-input-placeholder { color: #ddd; }
*:-moz-placeholder { color: #ddd; }
*::-moz-placeholder { color: #ddd; }
*:-ms-input-placeholder { color: #ddd; }
/* ヘッダー検索ボックスアイコン */
.sbtn {
 height: 50px;
 position: absolute;
 right: 44px;
 top: 0;
 background: none;
 color: #666;
 border: none;
 font-size: 20px;
}
.sbtn:hover {
 color: #fff;
}
/* コンテナ */
.container {
 padding: 0;
 width: 95%;
 max-width: 780px;
 padding-bottom: 170px;/* footerの高さを確保 */
 box-sizing: border-box;
}
.noImg {
 max-width: 200px !important;
}
/* フッター */
footer {
 max-width: 780px;
 text-align: center;
 margin: 0 auto;
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
}
/* スマートフォン向けレイアウト */
@media screen and (max-width:767px) {
 header form {
  top: -6px;
 }
 .sbtn {
  right: 25px;
 }
 .container {
  padding-bottom: 20px;
 }
 footer {
  width: 100%;
  position: relative;
 }
}

/* ローディング画面 */
#is-loading {
 display: none;
 position: fixed;
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
 background: #FFF;
 z-index: 1000;
}
#loading {
 display: none;
 position: fixed;
 top: 50%;
 left: 50%;
 width: 200px;
 height: 200px;
 margin-top: -100px;
 margin-left: -100px;
 text-align: center;
 color: #fff;
 z-index: 1001;
}
#loading img {
 width: 90%;
 animation: yurayura 1s ease-in-out infinite;
}
@keyframes yurayura {
 0% { transform: rotate(0deg); }
 25% { transform: rotate(3deg); }
 50% { transform: rotate(0deg); }
 75% { transform: rotate(-3deg); }
 100% { transform: rotate(0deg); }
}

/* 検索ボタン*/
.search {
 text-align: center;
 width: 100%;
}
.search a {
 display: inline-block;
 padding: 0.5em 1em;
 text-decoration: none;
 background: #668ad8;
 color: #FFF;
 border-bottom: solid 4px #627295;
 border-radius: 3px;
 margin: 10px;
}

.checkbox_wrap {
 cursor: pointer;
 color: #000;
}
input[type=checkbox] {
 display: none;
}
.checkbox_wrap > .display_content {
 border: 1px solid black;
 display: inline-block;
 height: 1em;
 width: 1em;
 position: relative;
 color: #000;
 margin-right: 5px;
 top: 4px;
}
.checkbox_wrap > input[type="checkbox"]:checked + .display_content::before {
 content: "✓";
 color: #000;
 top: -4px;
 position: absolute;
}
.checkLabel {
 color: #000;
 margin-left: 0px;
}