@charset "UTF-8";

body {
    max-width: 1200px;
    margin: 0 auto;
}
/* 検索条件 */
div.searchCond {
    width: 97%;
    background: #65ace4;
    box-shadow: 0px 0px 0px 10px #65ace4;
    border: dashed 2px #0074bf;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
    margin-top: 10px;;
    padding: 0.5em 0.5em 0.5em 2em;
}
/* 検索条件タイトル */
div.searchCond label.title {
    display: block;
}
/* タグ一覧 */
div.searchCond ul {
}
/* 検索件数 */
div.searchCount {
    margin: 10px;
}
/* 銭湯リスト*/
.bathList {
    display: inline-block;
    margin: auto;
}
/* 銭湯1件 */
.bath {
    margin: 30px auto;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    float: left;
}
/* 銭湯画像 */
.bathImg {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
}
/* 銭湯 和名 */
.bathNameJa {
    display: block;
    font-size: 20px;
    text-align: center;
    color: #333;
    margin-top: 10px;
    margin-bottom: 0;
}
/* 銭湯 英名 */
.bathNameEn {
    display: block;
    font-size: 15px;
    text-align: center;
    color: #333;
    margin-bottom: 0;
}
/* 銭湯詳細 */
.bathDetail {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    display: block;
    position: relative;
}
/* 料金 */
.bathFee {
    display: block;
}
/* 銭湯種別 */
.bathType {
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
}
/* 営業時間 */
.bathTime {
    display: block;
}
/* 住所 */
.bathAddress {
    display: block;
}
/* 住所 和名 */
.bathAddressJa {
    display: inline-block;
    margin: 0;
}
/* 住所 和名 */
.bathAddressEn {
    display: inline-block;
    margin: 0 0 0 24px;
}
/* アイコン */
i.fa {
    width: 20px;
    text-align: center;
    font-size: 15px;
}
/* スマートフォン向けレイアウト */
@media screen and (max-width:767px) {
    /* 銭湯リスト */
    div.bathList {
        width: 95%;
        min-width: auto;
    }
    /* 銭湯画像 */
    div.bathList a span.bathImage {
        display: block;
    }
    div.bathList a span.bathImage img {
        width: 97%;
    }
    /* 銭湯名 和名 */
    div.bathList a span.bathInfo span.bathName label.bathNameJa {
        display: block;
    }
}