<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/css/test.css}" />
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>
<h3>管理画面</h3>
  <span th:text="${adminForm.bath.bathId}"></span>
  <span th:text="${adminForm.bath.bathNameJa}"></span>
  <span th:text="${adminForm.bath.bathNameEn}"></span>
  <span th:text="${adminForm.bath.bathAreaCode}"></span>
  <span th:text="${adminForm.bath.bathCityCode}"></span>
  <span th:text="${adminForm.bath.bathImage}"></span>
  <span th:text="${adminForm.bath.bathAddressJa}"></span>
  <span th:text="${adminForm.bath.bathAddressEn}"></span>
  <span th:text="${adminForm.bath.bathTel}"></span>
  <!-- DBfluteの更新が必要<span th:text="${adminForm.bath.bathDetail}"></span> -->
  <span th:text="${adminForm.bath.bathFee}"></span>
  <span th:text="${adminForm.bath.bathType}"></span>
  <span th:text="${adminForm.bath.bath24hFlg}"></span>
  <span th:text="${adminForm.bath.bathTimeSt}"></span>
  <span th:text="${adminForm.bath.bathTimeEd}"></span>
  <span th:text="${adminForm.bath.bathPlaceLat}"></span>
  <span th:text="${adminForm.bath.bathPlaceLon}"></span>
  <span th:text="${adminForm.bath.bathTemperatureUp}"></span>
  <span th:text="${adminForm.bath.bathTemperatureLow}"></span>
  <span th:text="${adminForm.bath.bathHoliday}"></span>
  <span th:text="${adminForm.bath.delFlg}"></span>
  <span th:text="${adminForm.bath.createDate}"></span>
  <span th:text="${adminForm.bath.updateDate}"></span>

</body>
</html>