<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
<script>
function getCuurentLocation() {
    navigator.geolocation.getCurrentPosition(searchNearnyBath);
}

function searchNearnyBath(position) {
    document.getElementById('latitude').value = position.coords.latitude;
    document.getElementById('longitude').value = position.coords.longitude;

    $('form').submit();
}
</script>
</head>
<body>
<div layout:fragment="contents">
<h3>TOP画面</h3>
<ul>
    <li><a href="/station">駅検索</a></li>
    <li><a href="/prefecture">都道府県検索</a></li>
    <li><a href="/illust">イラスト検索</a></li>
</ul>

<form id="form" th:action="@{/nearbyBath}" th:object="${currentLocationForm}" method="post" enctype="multipart/form-data">
    <input type="text" th:field="*{latitude}" />
    <input type="text" th:field="*{longitude}" placeholder="キーワード検索"/>

</form>
<button onclick="getCuurentLocation()">test</button>

<!-- 共通フッター -->
</div>

</body>
</html>