<!-- ページャー -->
<section class="pager">
	<!-- 前へリンク -->
	<a th:if="${resultList.page.existsPreviousPage()}" th:href="@{/keyword(keyword=${resultList.keyword}, page=${resultList.page.previousPageNumber})}">前へ</a>
	<!-- 表示ページ数 -->
	<span th:text="${resultList.page.currentPageNumber}"></span> /
	<!-- 全ページ数 -->
	<span th:text="${resultList.page.allPageCount}"></span>
	<!-- 検索件数 -->
	(<span th:text="${resultList.page.allRecordCount}"></span>件)
	<!-- 次へリンク -->
	<a th:if="${resultList.page.existsNextPage()}" th:href="@{/keyword(keyword=${resultList.keyword}, page=${resultList.page.nextPageNumber})}">次へ</a>
</section>
