<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all"
    th:href="@{/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" media="all"
    th:href="@{/css/area/prefecture.css}" />
<link rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="container-fluid" id="outline" layout:fragment="contents"
        style="background-color: #FFFFFF;">
        <div class="col-md-5 offset-md-5">
            <input type="button" class="btn btn-primary btn-lg"
                onclick="searchPrefecture();" value=地域名検索>
        </div>
        <div class="col-md-5 offset-md-5">
            <div th:text="'選択中の地域：' + ${prefectureForm.areaName}"></div>
        </div>
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <table class="table table-bordered">
                    <tr>
                        <td class="prefecture-name" align="center">
                            <div class="prefecture-name-text"
                                th:text="${prefectureForm.areaName}">
                            </div>
                                 <input type="checkbox" id="all">
                        </td>
                        <td>
                            <div id="area-name"
                                th:each="prefecture : ${prefectureForm.prefectureList}">
                                <label> <input type="checkbox" name="prefectures"
                                    th:text="${prefecture.name}" th:value="${prefecture}"></label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <form id="form" class="form-inline" action="#"
                    th:action="@{prefecture}" th:object="${prefectureSearchForm}"
                    method="post">
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.6.2.js"></script>
<script
    src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script
    src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
<script type="text/javascript" th:src="@{/js/area/prefecture.js}"></script>
</html>