<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/css/test.css}" />
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>
<h3>検索結果一覧</h3>

検索キーワード：
<span th:if="${resultList.page.existsPreviousPage()}">aaa</span>
<span th:text="${keyword}"></span>
<span th:if="${#strings.isEmpty(keyword)}">キーワード未設定</span>

<!-- ループして検索結果一覧をリンク表示 -->
<p th:if="${#lists.isEmpty(resultList)}">検索条件に該当する銭湯が見つかりませんでした。</p>

<!-- ページャー -->
<div>
	<a th:if="${resultList.page.existsPreviousPage()}" th:href="@{/keyword(page=${resultList.page.previousPageNumber})}">前へ</a>
	<span th:text="${resultList.page.currentPageNumber}"></span> /
	<span th:text="${resultList.page.allPageCount}"></span>
	(<span th:text="${resultList.page.allRecordCount}"></span>件)
	<a th:if="${resultList.page.existsNextPage()}" th:href="@{/keyword(page=${resultList.page.nextPageNumber})}">次へ</a>
</div>

<ul th:each="bath:${resultList.page}" th:object="${bath}">
	<!-- 銭湯詳細画面へのリンク -->
	<li><a href="/bath" th:text="*{bathNameJa}"></a></li>
</ul>

<a href="javascript:history.back();">戻る</a>

<!-- 共通フッター -->
<div th:replace="footer"></div>
</body>
</html>