<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/css/test.css}" />
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>
<h3>駅検索(地域)画面</h3>
<ul>
	<li><a href="/prefecture/search">駅検索</a></li>
	<li><a href="javascript:history.back();">戻る</a></li>
</ul>
        <div th:text="${line[0]}"></div>
        <div th:text="${station[0]}"></div>

<!-- 共通フッター -->
<div th:replace="footer"></div>
</body>
</html>