<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/css/test.css}" />
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}" />

</head>
<body>
    <div>
        <header style="wi dth: 100%; background-color: #ffef11">
            <nav id="menu" style="padding-top: 10px;">
                <!--中身-->
                <div id="nav-content">
                    <ul class="category">
                        <li class="category-title" style="margin-left: 10px;"><a>Oh!湯ForYouとは</a></li>
                        <li class="category-title"><a>テスト1</a></li>
                        <li class="category-title"><a>テスト2</a></li>
                        <li class="category-title"><a>テスト3</a></li>
                    </ul>
                </div>
            </nav>
            <p style="width: 960px; margin: 0 auto; text-align: center; padding-bottom: 20px;">
                <img src="/img/top.png"/>
            </p>

       <form method="get" th:object="${testForm}" style="width: 960px; margin: 0 auto; text-align: center; padding-bottom: 20px;">
                <div id="indexType">
                     <ul>
                        <li><a class="btn btn-danger"  data-toggle="modal" data-target="#modal1">キーワード</a></li>
                        <li><a class="btn btn-warning">エリア</a></li>
                        <li><a class="btn btn-primary">イラスト</a></li>
                    </ul>
                </div>
                <div class="group">
                    <input type="text"  th:field="*{keyword}" class="ridius"  placeholder="キーワード検索"/>
                    <button type="submit" class="btn btn-primary btn-sm " style="margin-bottom: 6px;">検索</button>
                </div>
            </form>
        </header>
        <div class="container-fluid" style="width: 960px;">
            <div class="row">
                <div class="col text-center">
                    <p>
                       サイトのニュースなんかを書いたりして<br>
                       縦のピクセルは100px取っている
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bg-info text-center">
                <div>
                col-md-8のクラスで色もクラスでつけている
                </div>
                </div>
            </div>

            <th:block th:each="bath:${bath}">
                <span th:text="${bath.bathNameJa}"></span>
            </th:block>

            <div class="row">
                <div class="col-md-4 bg-success">col-md-4のクラスで色もクラスでつけている</div>
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li class="media">
                            <p>
                            <img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-3" style="width: 150px;" ><br/>
                            <img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1" style="width: 30px;" >
                            <img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1" style="width: 30px;" >
                            <img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1" style="width: 30px;" >
                            <img src="/img/hisamatsuyu.jpg" alt="64x64" class="mr-1" style="width: 30px;" >
                            </p>
                            <div class="media-body">
                                <span>HTML 5.2</span>
                                <p>
                                This specification defines the 5th major version, second minor revision of the core language of the World Wide Web: the Hypertext Markup Language (HTML). In this
                                version, new features continue...
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>




        </div>

        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="label1">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">Modal body</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <footer style="width: 100%;">
            <p style="width: 960px; margin: 0 auto; text-align: center;">一応フッターも</p>
        </footer>
    </div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>