<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/css/test.css}" />
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>
<h3>TOP画面</h3>
<ul>
    <li><a href="/station">駅検索</a></li>
    <li><a href="/prefecture">都道府県検索</a></li>
    <li><a href="/illust">イラスト検索</a></li>
</ul>

<form th:action="@{/keyword}" th:object="${topForm}" method="post" enctype="multipart/form-data">
    <input type="text" th:field="*{keyword}" placeholder="キーワード検索"/>
    <input type="submit" value="検索" />
</form>

<!-- 共通フッター -->
<div th:replace="footer"></div>

</body>
</html>