<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/top/top.css}" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" th:src="@{/js/top/top.js}"></script>
<script>
	function getCuurentLocation() {
	    navigator.geolocation.getCurrentPosition(searchNearnyBath);
	}

	function searchNearnyBath(position) {
	    document.getElementById('latitude').value = position.coords.latitude;
	    document.getElementById('longitude').value = position.coords.longitude;

	    $('#cuurentLocationSearch').submit();
	}
</script>

</head>
<body class="position-relative">
    <div class="container-fluid position-absolute"  id="searchTypeRow">
        <div class="row">
                <div class="offset-md-2 col-md-2  col-4">
                    <a th:href="@{illust}" ><img class="d-block mx-auto searchTypeImg" th:src="@{/img/menu_illust.png}" /></a>
                </div>
                <div class="col-md-4 col-4">
                    <a href="/area/station"><img class="d-block mx-auto searchTypeImg" th:src="@{/img/menu_prefecture.png}" /></a>
                </div>
                <div class="col-md-2 col-4">
                    <a th:href="@{/}"><img class="d-block mx-auto searchTypeImg"  th:src="@{/img/menu_train.png}" /></a>
                </div>
        </div>
    </div>
    <div class="container-fluid position-absolute" style="top:73.5%;">
        <div class="row">
            <div class="offset-3" >
                <form id="form" th:action="@{/keyword}" th:object="${topForm}" method="post" enctype="multipart/form-data">
                    <input type="text" th:field="*{keyword}" placeholder="キーワード検索"/>
                    <a href="#" onclick="test()"><img src="/img/button_search.png" style="width: 50px;"></a>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12" style="text-align: center;">
                <!-- 現在値検索 -->
                <a href="#" onclick="getCuurentLocation()" class="btn-square-shadow">現在地検索</a>
                <form id="cuurentLocationSearch" th:action="@{/nearbyBath}" th:object="${topForm}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{latitude}" />
                    <input type="hidden" th:field="*{longitude}"/>
                </form>
            </div>
        </div>



    </div>
</body>
</html>