<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Oh湯!forYou!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
	<link rel="stylesheet" media="all" th:href="@{/css/top/top.css}" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/top/top.js}"></script>
</head>
<body>
    <!-- ローディング -->
    <div id="is-loading"><div id="loading"><img th:src="@{/img/ojiji/ojiji_search.png}" alt="loading..." /></div></div>
    <div class="outer">
        <div class="logo"><img th:src="@{/img/top/top_bg.png}" /></div>
    </div>
    <div class="renga">
        <div class="menu">
            <ul>
                    <!-- 駅検索 -->
                    <li><a th:href="@{/area(division=${2})}"><img th:src="@{/img/top/top_menu_train.png}" /></a></li>
                    <!-- 都道府県検索 -->
                    <li><a th:href="@{/area(division=${1})}"><img th:src="@{/img/top/top_menu_prefecture.png}" /></a></li>
                    <!-- イラスト検索 -->
                    <li><a th:href="@{illust}" ><img th:src="@{/img/top/top_menu_illust.png}" /></a></li>
            </ul>
        </div>
    </div>
    <!-- 浴槽画像 -->
    <div class="yokuso">
            <div class="steam" ><img th:src="@{/img/top/yuge.svg}" /></div>
            <div class="steam2"><img th:src="@{/img/top/yuge.svg}" /></div>
            <div class="ojiji"><img th:src="@{/img/top/top_ojiji_01.png}" onclick="changeOjiji(this);" class="ojiji1" /></div>
            <div class="ojiji"><img th:src="@{/img/top/ojiji_atsuatsu_oyu.png}" onclick="changeOjiji(this);" style="display: none;" class="ojiji2" /></div>
        <div class="oke"><img th:src="@{/img/top/top_oke.png}" /></div>
        <div class="ahiru"><img th:src="@{/img/top/top_ ahiru.png}" /></div>
    </div>
    <div class="container">
        <div class="search">
            <!-- キーワード検索 -->
            <form id="keywordSearch" th:action="@{/keyword}" th:object="${TopForm}" method="post" enctype="multipart/form-data">
                <input type="text" name="keyword" class="headSearch loading_inp" placeholder="銭湯　おじじ　検索" onEnter="document.form.submit();" autocomplete="off" maxlength="60">
                <a href="#" id="clickSubmit" class="loading" onclick="searchKeyword()">検索</a>
            </form>
            <!-- 現在値検索 -->
            <form id="cuurentLocationSearch" th:action="@{/nearbyBath}" th:object="${topForm}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{latitude}" />
                <input type="hidden" th:field="*{longitude}"/>
                <img class="kerorin loading" src="/oyfy/img/top/button_search.png" onclick="getCuurentLocation();">
            </form>
        </div>
    </div>
</body>
</html>