@charset "UTF-8";

/* 県名表示列色 */
td.prefecture-name {
  background-color: #0099FF;
  width: 150px;
}

/* 県名テキスト色 */
div.prefecture-name-text {
  color: #F8F8FF;
}

#outline {
  margin-top: 20px;
}

#area-name {
  display: block;
  float: left;
  max-width :110px;
  min-width :100px;
}