<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/bath/bath.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/tag.css}" />
<script type="text/javascript" th:src="@{/js/bath/bath.js}"></script>
<script src="https://kit.fontawesome.com/a293a46691.js"></script>
</head>
<body>
<!-- 共通ヘッダー -->
<div th:replace="header"></div>
<div class="container">
    <p class="bathNameJa"  th:text="${bathForm.bath.bathNameJa}"/>
    <p class="bathNameEn" th:text="${bathForm.bath.bathNameEn}"/>
    <img th:if="${bathForm.bath.bathImage != null}" th:src="${bathForm.bath.bathImage}" class="bathImg" />
    <section class="list">
        <table>
	        <tr>
	            <th>住所</th>
	            <td>
	                <i class="fa fa-map-pin"></i>
	                <p th:text="${bathForm.bath.bathAddressJa}"/>
	                <p th:text="${bathForm.bath.bathAddressEn}"/>
	            </td>
	        </tr>
	        <tr>
	            <th>電話番号</th>
	            <td><i class="fa fa-phone"></i><p th:text="${bathForm.bath.bathTel}" /></td>
	        </tr>
	        <tr>
	            <th>詳細</th>
	            <td><i class="fa fa-info-circle"></i><pre th:text="${bathForm.bath.bathDetail}"></pre></td>
	        </tr>
	        <tr>
	            <th>一般入浴料</th>
	            <td><i class="fa fa-dollar"></i><p th:text="${#numbers.formatInteger(bathForm.bath.bathFee, 3, 'COMMA') + '円'}" /></td>
	        </tr>
	        <tr>
    	        <th>銭湯種別</th>
	            <td>
                    <span th:switch="${bathForm.bath.bathType}" class="bathType">
                        <label th:case="10"><img class="bathTypeImg" src="/oyfy/img/bath_sento.png" /></label>
                        <label th:case="20"><img class="bathTypeImg" src="/oyfy/img/bath_super.png" /></label>
                        <label th:case="30"><img class="bathTypeImg" src="/oyfy/img/bath_onsen.png" /></label>
                    </span>
                </td>
  	        </tr>
	        <tr>
	            <th>24時間フラグ</th>
	            <td><i class="fas fa-history"></i><p th:text="${bathForm.dispBath24hFlg}" /></td>
	        </tr>
	        <tr>
	            <th>営業時間</th>
	            <td>
	                <i class="fa fa-clock-o"></i>
	                <p><span th:text="${bathForm.bath.bathTimeSt}"></span>～<span th:text="${bathForm.bath.bathTimeEd}"></span></p>
	            </td>
	        </tr>
	        <tr>
	            <th>温度</th>
	            <td>
	              <i class="fa fa-thermometer-half"></i>
	              <p>
  	                  <span th:if="${bathForm.bath.bathTemperatureLow != null}" th:text="${#numbers.formatDecimal(bathForm.bath.bathTemperatureLow, 2, 'COMMA', 2, 'POINT') + '℃'}"></span>
	                  <span th:if="${bathForm.bath.bathTemperatureLow != null && bathForm.bath.bathTemperatureUp != null}">～</span>
	                  <span th:if="${bathForm.bath.bathTemperatureUp != null}" th:text="${#numbers.formatDecimal(bathForm.bath.bathTemperatureUp, 2, 'COMMA', 2, 'POINT') + '℃'}"></span>
	              </p>
	            </td>
	        </tr>
	        <tr>
	            <th>定休日</th>
	            <td>
	                <i class="fa fa-calendar-times-o"></i>
	                <p th:text="${bathForm.dispBathHoliday}" />
	            </td>
	        </tr>
            <tr>
                <th>場所</th>
                <td>
                    <input type="hidden" id="lat" th:value="${bathForm.bath.bathPlaceLat}" />
                    <input type="hidden" id="lon" th:value="${bathForm.bath.bathPlaceLon}" />
                    <div id="gmap"></div>
                </td>
            </tr>
            <tr>
                <th>タグ</th>
                <td>
                    <ul th:if="!${#strings.isEmpty(bathForm.tagList)}" th:each="tags:${bathForm.tagList}" class="tags">
                        <li th:if="!*{#strings.isEmpty(tags.tagNameJa)}" ><a th:href="@{/keyword(keyword=*{tags.tagNameJa})}"><span th:text="*{tags.tagNameJa}"></span></a></li>
                    </ul>
                    <ul th:each="keyword:${bathForm.tagList}"></ul>
                </td>
            </tr>
	    </table>
	    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyCoBXsawQdlQwF0Hc0ZK67LfJR-2iqc1jc&callback=initMap"></script>
    </section>
    <a class="back" href="javascript:history.back();">戻る</a>
</div>

<!-- 共通フッター -->
<div th:replace="footer"></div>
</body>
</html>