@charset "UTF-8";

div.row {
 padding-bottom: 15px;
 width: 100%;
}

div.search-prefecture {
 margin: 0 auto;
 padding: 1em 1.5em;
 width: 95%;
 color: #777777;
 background-color: #fff;
 border: 4px solid #B09A69;
 border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}

#selected-prefecture {
 line-height: 1;
 padding: 8px 0 5px 8px;
 margin-bottom: 50px;
}

/* 県名表示列色 */
td.prefecture-name {
 background-color: #668ad8;
 text-align: center;
 display: block;
}

span {
 text-decoration: none;
 display: block;
 margin-left: 20px;
 float: left;
 color: #F8F8FF;
}

/* 県名テキスト色 */
div.prefecture-name-text {
 color: #F8F8FF;
 font-size: 20px;
 display: inline-block;
}
/* 全選択チェックボックス */
.all {
 padding: 2px;
}
#area-name {
  display: flex;
  float: left;
}
input[type=checkbox] {
 transform: scale(1.5);
 margin-right: 5px;
}

#area-name-list {
 display: none;
 border: none;
 text-align: justify;
}
/* 都道府県チェックボックス */
.prefectures {
 display: inline-block;
 margin-bottom: 0;
 padding: 2px;
}