@charset "UTF-8";

/* 路線名表示列色 */
td.line-name {
  background-color: #0099FF;
  width: 150px;
}

/* 駅名テキスト色 */
div.line-name-text {
  color: #F8F8FF;
}

div.station-name {
    display: flex;
    float: left;
    max-width: 300px;
    min-width: 250px;
    padding-left: 50px;
    padding-bottom: 10px;
}

div.row {
    padding-bottom: 15px;
}

input[type=checkbox] {
  transform: scale(1.5);
}
